@model JobProfileViewModel
<header class="job-profile-hero">
    <div class="content-container">
        <div class="breadcrumbs">
            <ol>
                <li><a href="/">Find a career home</a></li>
                <li>Job profiles</li>
            </ol>
        </div>
    </div>
    <div class="content-container">
        @Html.Raw(Model.HeroBannerContent)
    </div>
</header>
