<header class="job-profile-hero">
    <div data-sf-element="Row">
                <div id="BreadcrumbExtender_T41A29498009_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Hero Container"><div class="content-container">
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Find a career home</a></li>
            <li>Job profiles</li>
        </ol>
    </div>
</div>
<div class="content-container">
    <div class="grid-row">
        <div class="column-desktop-two-thirds">
            <h1 class="heading-xlarge"> Software developer</h1>
                <h2 class="heading-secondary">Programmer</h2>

            <p>Software developers design, build and test computer programmes for business, education and leisure activities.</p>
        </div>
    </div>
    <div class="grid-row">
        <div id="Salary" class="column-40 job-profile-heroblock">
            <h4>
                Average salary
                    <span>(per year)</span>
            </h4>
            <div class="job-profile-salary job-profile-heroblock-content">
                    <h5 class="dfc-code-jpsstarter">£39,000<span>Starter</span></h5>
                    <h5 class="dfc-code-jpsexperienced">£45,760 <span>Experienced</span></h5>
            </div>
        </div>
        <div id="WorkingHours" class="column-30 job-profile-heroblock">
            <h4>Typical hours <span></span></h4>
            <div class="job-profile-hours job-profile-heroblock-content">
                <h5 class="dfc-code-jphours">
Variable                    <span class="dfc-code-jpwhoursdetail"></span>
                </h5>
            </div>
        </div>
    </div>
</div>

                </div>
        </div>
</header>
 