<div class="job-profile-related">
    <h2 class="heading-medium">Related careers</h2>
    <ul class="list list-big">
        <li><a href="computer-games-developer">Computer games developer</a></li>
    </ul>
</div>