
@model StepViewModel

<div class="content-container">
    <div class="grid-row">
        <div class="column-desktop-two-thirds" style="list-style: none;">

            @Html.Raw(Model.Content)

        </div>
    </div>
</div>

